@import "../node_modules/bootstrap/scss/bootstrap.scss";

.body{
    height: fit-content;
    
}

.landing {
    padding: 20px;
    height: 100vh;
    background-color: #2B32B2;




}

.Spline {
    height: 70vh ;
    width: 70vw;
    padding: 50px;
}

.head-text{


    h1 {
        color: white;
        font-size: 60px;
    }
    h3 {
        color: white;
        font-size: 30px;
    }
}

#about {
    background-color: #2B32B2;
}

@media (max-width: 1028px){
    .Spline{
        width: 100vw;
        height: 100vh;
    }
}