@import "../node_modules/bootstrap/scss/bootstrap.scss";

.body {
    height: fit-content;
    width: fit-content;
    
}

.container-fluid {
    padding: 0;
}

#nav {
    padding: 10px;
    
}

.main {
    padding: 20px;
}

.landing {
    padding: 10px;
    height: 100vh;

    background-color: #2B32B2;




}

.Spline {
    height: 70vh ;
    width: 70vw;
    padding: 20px;

    @media (max-width: 1024px){
        transform: scale(0.5);
    }
}

.head-text{


    h1 {
        color: white;
        font-size: 60px;
    }
    h3 {
        color: white;
        font-size: 30px;
    }
}



#about {
    background-color: #2B32B2;
    
    .about-section{
        height: fit-content;
        margin: 0;

    }
    
    
}

.skills {
    p {
        font-size: 30px;
        color: white;
    }
    
    li{
        list-style-type: none;
        color: white;
    }
}

.skills-head {
    font-weight: 50px;
    color: white;

}


@media (max-width: 1028px){
    .Spline{
        transform: scale(0.8);
    }
}